{%- comment -%}
Collection page banner
Static heading text. Only the image is editable in the theme customizer.
{%- endcomment -%}

<section class="collection-page-banner section" aria-label="Collections banner">
  <div class="collection-page-banner__inner">
    <div class="collection-page-banner__media">
      {% if section.settings.image != blank %}
        <img src="{{ section.settings.image | img_url: '1600x' }}" alt="{{ section.settings.image_alt | escape }}" class="collection-page-banner__img" loading="lazy" />
      {% else %}
        <div class="collection-page-banner__placeholder" aria-hidden="true"></div>
      {% endif %}
    </div>

    <div class="collection-page-banner__content">
      <div class="collection-page-banner__title">
        <svg width="503" height="56" viewBox="0 0 503 56" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M26.0472 55.2692C10.0292 55.2692 -0.000161037 44.6626 -0.000161037 27.7787C-0.000161037 11.1112 10.6064 0.143895 26.5523 0.143895C39.9007 0.143895 49.4971 7.79216 51.1567 19.7696H38.8184C37.231 14.4303 32.6854 11.3998 26.2637 11.3998C17.6053 11.3998 12.3381 17.5329 12.3381 27.7065C12.3381 37.7359 17.6774 44.0132 26.2637 44.0132C32.8297 44.0132 37.664 40.7663 39.107 35.4991H51.2288C49.3528 47.4044 39.3956 55.2692 26.0472 55.2692ZM115.47 35.4991C113.594 37.1827 111.574 38.4814 109.409 39.3954C107.293 40.3093 105.248 40.7663 103.276 40.7663C101.015 40.7663 98.9711 40.4296 97.1432 39.7562C95.604 41.6803 93.8963 43.6043 92.0203 45.5284C90.1444 47.4044 88.1241 49.088 85.9594 50.5792C83.8429 52.0704 81.5821 53.2729 79.177 54.1869C76.7719 55.1008 74.2706 55.5578 71.6731 55.5578C69.2679 55.5578 67.2476 55.197 65.6122 54.4755C64.0248 53.7539 62.726 52.7919 61.7159 51.5893C60.7538 50.3387 60.0563 48.9437 59.6234 47.4044C59.2386 45.8171 59.0462 44.1575 59.0462 42.4258C59.0462 39.7802 59.4551 37.0624 60.2728 34.2725C61.1386 31.4826 62.3172 28.7888 63.8083 26.1913C65.3476 23.5457 67.1514 21.0444 69.2198 18.6873C71.2882 16.2822 73.525 14.1657 75.9301 12.3378C78.3352 10.5099 80.8606 8.99472 83.5062 7.79216C86.2 6.58961 88.8937 5.86807 91.5874 5.62756C93.1267 4.18449 94.5217 3.27055 95.7723 2.88573C97.0711 2.50091 98.2977 2.3085 99.4521 2.3085C102.338 2.3085 104.455 3.3908 105.802 5.55541C107.197 7.72001 107.894 10.4859 107.894 13.8531C107.894 15.9696 107.581 18.1823 106.956 20.4912C106.379 22.752 105.609 24.9887 104.647 27.2015C103.685 29.3661 102.603 31.4826 101.4 33.551C100.198 35.5713 98.9952 37.3991 97.7926 39.0346C98.6104 39.4194 99.4522 39.66 100.318 39.7562C101.232 39.8524 102.17 39.9005 103.132 39.9005C104.286 39.9005 105.417 39.7562 106.523 39.4675C107.678 39.1789 108.784 38.7941 109.842 38.3131C110.901 37.8321 111.863 37.3029 112.728 36.7257C113.642 36.1485 114.412 35.5713 115.037 34.994L115.47 35.4991ZM84.6607 21.7899C84.6607 19 85.1898 16.3063 86.2481 13.7088C87.3544 11.0631 88.8456 8.73016 90.7216 6.70986L90.5773 6.56555C88.1722 7.04658 85.9113 7.98457 83.7948 9.37954C81.6783 10.7264 79.7061 12.3859 77.8783 14.3581C76.0985 16.2822 74.487 18.4468 73.044 20.8519C71.649 23.2571 70.4464 25.7343 69.4363 28.2838C68.4743 30.8332 67.7287 33.3826 67.1995 35.932C66.6704 38.4333 66.4059 40.8144 66.4059 43.0752C66.4059 44.5183 66.5261 45.9133 66.7666 47.2601C67.0071 48.607 67.3919 49.8095 67.9211 50.8678C68.4983 51.8779 69.2439 52.6957 70.1578 53.321C71.1199 53.9463 72.2984 54.259 73.6934 54.259C75.8099 54.259 77.9023 53.7539 79.9707 52.7438C82.0391 51.6855 83.9873 50.3868 85.8151 48.8475C87.6911 47.3082 89.3507 45.6246 90.7937 43.7968C92.2849 41.9208 93.4875 40.165 94.4014 38.5296C92.9102 37.7118 91.5634 36.7257 90.3608 35.5713C89.1583 34.3687 88.1241 33.0459 87.2582 31.6028C86.4405 30.1116 85.7911 28.5483 85.3101 26.9128C84.8771 25.2293 84.6607 23.5216 84.6607 21.7899ZM97.0711 14.2138C97.1673 13.9252 97.2394 13.5163 97.2875 12.9872C97.3356 12.4581 97.3597 11.9771 97.3597 11.5441C97.3597 10.8707 97.2635 10.2213 97.0711 9.596C96.8787 8.92257 96.566 8.36939 96.1331 7.93647C95.7002 7.45545 95.1229 7.09468 94.4014 6.85417C93.728 6.56556 92.8621 6.4453 91.8039 6.4934C91.0823 7.26304 90.457 8.20104 89.9279 9.30739C89.3988 10.3656 88.9418 11.5201 88.557 12.7708C88.2203 13.9733 87.9557 15.224 87.7633 16.5227C87.619 17.7734 87.5468 18.9519 87.5468 20.0583C87.5468 21.6456 87.6671 23.3052 87.9076 25.0369C88.1481 26.7685 88.557 28.4521 89.1342 30.0876C89.7114 31.675 90.457 33.1421 91.371 34.489C92.333 35.8358 93.5356 36.9181 94.9786 37.7359C96.0369 36.0042 96.9989 34.1282 97.8648 32.1079C98.7787 30.0395 99.5484 27.947 100.174 25.8305C100.799 23.6659 101.28 21.5254 101.617 19.4089C101.953 17.2443 102.122 15.1759 102.122 13.2037C102.122 11.953 102.026 10.7745 101.833 9.66816C101.641 8.5618 101.328 7.59976 100.895 6.78202C100.462 5.91617 99.8851 5.24274 99.1635 4.76172C98.442 4.2807 97.5521 4.04018 96.4939 4.04018C95.628 4.04018 94.8824 4.18449 94.2571 4.4731C93.6318 4.76172 93.0786 5.14654 92.5976 5.62756C93.6558 5.67566 94.5457 5.86807 95.2672 6.20479C95.9888 6.5415 96.566 6.99848 96.9989 7.5757C97.4319 8.10483 97.7445 8.73016 97.9369 9.4517C98.1293 10.1732 98.2255 10.8948 98.2255 11.6163C98.2255 12.1935 98.1774 12.6986 98.0812 13.1315C98.0331 13.5163 97.961 13.9012 97.8648 14.286L97.0711 14.2138ZM124.216 1.00974V43.5803H145.285V54.4033H112.527V1.00974H124.216ZM164.309 1.00974V43.5803H185.378V54.4033H152.62V1.00974H164.309ZM226.625 54.4033H192.713V1.00974H226.625V11.8328H204.402V22.295H224.1V32.5408H204.402V43.5803H226.625V54.4033ZM259.278 55.2692C243.26 55.2692 233.23 44.6626 233.23 27.7787C233.23 11.1112 243.837 0.143895 259.783 0.143895C273.131 0.143895 282.728 7.79216 284.387 19.7696H272.049C270.462 14.4303 265.916 11.3998 259.494 11.3998C250.836 11.3998 245.569 17.5329 245.569 27.7065C245.569 37.7359 250.908 44.0132 259.494 44.0132C266.06 44.0132 270.894 40.7663 272.338 35.4991H284.459C282.583 47.4044 272.626 55.2692 259.278 55.2692ZM285.275 11.8328V1.00974H327.268V11.8328H312.116V54.4033H300.427V11.8328H285.275ZM345.961 1.00974V54.4033H334.272V1.00974H345.961ZM413.526 35.4991C411.65 37.1827 409.63 38.4814 407.465 39.3954C405.349 40.3093 403.304 40.7663 401.332 40.7663C399.071 40.7663 397.027 40.4296 395.199 39.7562C393.66 41.6803 391.952 43.6043 390.076 45.5284C388.2 47.4044 386.18 49.088 384.015 50.5792C381.899 52.0704 379.638 53.2729 377.233 54.1869C374.828 55.1008 372.327 55.5578 369.729 55.5578C367.324 55.5578 365.304 55.197 363.668 54.4755C362.081 53.7539 360.782 52.7919 359.772 51.5893C358.81 50.3387 358.112 48.9437 357.679 47.4044C357.295 45.8171 357.102 44.1575 357.102 42.4258C357.102 39.7802 357.511 37.0624 358.329 34.2725C359.195 31.4826 360.373 28.7888 361.864 26.1913C363.404 23.5457 365.207 21.0444 367.276 18.6873C369.344 16.2822 371.581 14.1657 373.986 12.3378C376.391 10.5099 378.917 8.99472 381.562 7.79216C384.256 6.58961 386.95 5.86807 389.643 5.62756C391.183 4.18449 392.578 3.27055 393.828 2.88573C395.127 2.50091 396.354 2.3085 397.508 2.3085C400.394 2.3085 402.511 3.3908 403.858 5.55541C405.253 7.72001 405.95 10.4859 405.95 13.8531C405.95 15.9696 405.637 18.1823 405.012 20.4912C404.435 22.752 403.665 24.9887 402.703 27.2015C401.741 29.3661 400.659 31.4826 399.456 33.551C398.254 35.5713 397.051 37.3991 395.849 39.0346C396.666 39.4194 397.508 39.66 398.374 39.7562C399.288 39.8524 400.226 39.9005 401.188 39.9005C402.342 39.9005 403.473 39.7562 404.579 39.4675C405.734 39.1789 406.84 38.7941 407.898 38.3131C408.956 37.8321 409.918 37.3029 410.784 36.7257C411.698 36.1485 412.468 35.5713 413.093 34.994L413.526 35.4991ZM382.717 21.7899C382.717 19 383.246 16.3063 384.304 13.7088C385.41 11.0631 386.902 8.73016 388.777 6.70986L388.633 6.56555C386.228 7.04658 383.967 7.98457 381.851 9.37954C379.734 10.7264 377.762 12.3859 375.934 14.3581C374.154 16.2822 372.543 18.4468 371.1 20.8519C369.705 23.2571 368.502 25.7343 367.492 28.2838C366.53 30.8332 365.785 33.3826 365.255 35.932C364.726 38.4333 364.462 40.8144 364.462 43.0752C364.462 44.5183 364.582 45.9133 364.823 47.2601C365.063 48.607 365.448 49.8095 365.977 50.8678C366.554 51.8779 367.3 52.6957 368.214 53.321C369.176 53.9463 370.354 54.259 371.749 54.259C373.866 54.259 375.958 53.7539 378.027 52.7438C380.095 51.6855 382.043 50.3868 383.871 48.8475C385.747 47.3082 387.407 45.6246 388.85 43.7968C390.341 41.9208 391.543 40.165 392.457 38.5296C390.966 37.7118 389.619 36.7257 388.417 35.5713C387.214 34.3687 386.18 33.0459 385.314 31.6028C384.496 30.1116 383.847 28.5483 383.366 26.9128C382.933 25.2293 382.717 23.5216 382.717 21.7899ZM395.127 14.2138C395.223 13.9252 395.295 13.5163 395.343 12.9872C395.392 12.4581 395.416 11.9771 395.416 11.5441C395.416 10.8707 395.319 10.2213 395.127 9.596C394.935 8.92257 394.622 8.36939 394.189 7.93647C393.756 7.45545 393.179 7.09468 392.457 6.85417C391.784 6.56556 390.918 6.4453 389.86 6.4934C389.138 7.26304 388.513 8.20104 387.984 9.30739C387.455 10.3656 386.998 11.5201 386.613 12.7708C386.276 13.9733 386.012 15.224 385.819 16.5227C385.675 17.7734 385.603 18.9519 385.603 20.0583C385.603 21.6456 385.723 23.3052 385.964 25.0369C386.204 26.7685 386.613 28.4521 387.19 30.0876C387.767 31.675 388.513 33.1421 389.427 34.489C390.389 35.8358 391.591 36.9181 393.035 37.7359C394.093 36.0042 395.055 34.1282 395.921 32.1079C396.835 30.0395 397.604 27.947 398.23 25.8305C398.855 23.6659 399.336 21.5254 399.673 19.4089C400.009 17.2443 400.178 15.1759 400.178 13.2037C400.178 11.953 400.082 10.7745 399.889 9.66816C399.697 8.5618 399.384 7.59976 398.951 6.78202C398.518 5.91617 397.941 5.24274 397.219 4.76172C396.498 4.2807 395.608 4.04018 394.55 4.04018C393.684 4.04018 392.938 4.18449 392.313 4.4731C391.688 4.76172 391.135 5.14654 390.653 5.62756C391.712 5.67566 392.602 5.86807 393.323 6.20479C394.045 6.5415 394.622 6.99848 395.055 7.5757C395.488 8.10483 395.8 8.73016 395.993 9.4517C396.185 10.1732 396.281 10.8948 396.281 11.6163C396.281 12.1935 396.233 12.6986 396.137 13.1315C396.089 13.5163 396.017 13.9012 395.921 14.286L395.127 14.2138ZM422.128 54.4033H410.583V1.00974H422.128L444.64 34.994V1.00974H456.184V54.4033H444.64L422.128 20.4912V54.4033ZM463.783 16.5227C463.783 6.85417 471.937 -0.000410344 483.409 -0.000410344C494.881 -0.000410344 502.097 6.3491 502.097 16.4506H490.48C490.48 12.6986 487.666 10.3897 483.265 10.3897C478.503 10.3897 475.472 12.5543 475.472 16.0898C475.472 19.3367 477.132 20.9241 480.884 21.7178L488.893 23.3773C498.417 25.3255 502.963 29.8711 502.963 38.3131C502.963 48.631 494.881 55.3413 482.615 55.3413C470.71 55.3413 462.99 48.9197 462.99 38.8903H474.606C474.606 42.7866 477.492 44.9512 482.688 44.9512C487.955 44.9512 491.274 42.8588 491.274 39.4675C491.274 36.5093 489.903 34.994 486.367 34.2725L478.214 32.613C468.69 30.6648 463.783 25.2533 463.783 16.5227Z" fill="#122443"/>
</svg>

      </div>
    </div>
  </div>
</section>

<style>
  .collection-page-banner__inner {
    display: flex;
    align-items: center;
    gap: 48px;
    margin-inline: auto;
    padding: 36px 0px;
    max-width: 1200px;
  }

  .collection-page-banner__media {
    flex: 1 1 50%;
  }

  .collection-page-banner__img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .collection-page-banner__content {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
  }

  .collection-page-banner__title {
    font-size: 72px;
    font-weight: 800;
    line-height: 0.9;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
    color: var(--color-foreground-heading, #0b2240);
  }

  .collection-page-banner__placeholder {
    width: 100%;
    padding-top: 66%;
    background: #f3f4f6;
    border-radius: 12px;
  }

  @media (max-width: 900px) {
    .collection-page-banner__inner { flex-direction: column-reverse; gap: 10px; padding: 20px 0;}
    .collection-page-banner__media, .collection-page-banner__content { flex: 1 1 100%; margin-right: auto;}
    .collection-page-banner__title { text-align: left; width: 205px; font-weight: 800;}
  }
</style>

{% schema %}
{
  "name": "Collection page banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Banner image",
    },
    {
      "type": "text",
      "id": "image_alt",
      "label": "Image alt text",
      "info": "Provide descriptive alt text for accessibility."
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Collection page banner",
      "category": "Image"
    }
  ]
}
{% endschema %}
